/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding: 40px 0;
}

/* #region Font System  */

.font-h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.26;
}
.font-h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.02em;
}
.font-h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.font-h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.font-h5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
}

.font-body {
  font-weight: 400;
  line-height: 1.71;
}

.font-caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
}

.font-subtitle {
  line-height: 1.71;
}

.font-nav-link {
  font-weight: 600;
  line-height: 1.28;
}

/* #endregion Font System */

/* #region Buttons styles */
.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  padding: 14px 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  color: rgb(var(--color-white));

  border: none;
  border-radius: var(--radius-controls);
  background-color: rgb(var(--color-main));

  transition: var(--transition-basic);
  transition-property: background-color, color, border;
}
@media only screen and (max-width: 767.98px) {
  .btn-primary:active {
    background-color: rgb(56, 174, 95);
  }
}

/* #endregion button styles */

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .section {
    padding: 50px 0;
  }

  /* #region Font System  */
  .font-h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.16;
  }
  .font-h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }
  .font-h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: -0.02em;
  }
  .font-h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }
  .font-h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }
  .font-body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  .font-subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.66;
  }
  /* #endregion Font System */

  /* #region buttons styles */

  @media only screen and (min-width: 768px) {
    .btn-primary {
      height: 60px;
      padding: 16px 0;

      font-size: 18px;
      line-height: 1.56;
    }

    .btn-primary:hover,
    .btn-primary:focus {
      background-color: rgb(56, 174, 95);
    }
  }
  /* #endregion buttons style */
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1152px;
    padding: 0 64px;
  }

  .container.wide-container {
    padding: 0;
  }

  .section {
    padding: 75px 0;
  }
}

/* Styles for all devices */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}

/* Socials */

.socials {
  display: flex;
  align-items: center;
}

.socials-item {
  width: 42px;
  height: 42px;
}

@media only screen and (min-width: 768px) {
  .socials-item {
    width: 44px;
    height: 44px;
  }
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: black;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 10px;
  transition: var(--anim-fast);
  transition-property: color, border-color;
}

.socials-link:hover,
.socials-link:focus {
  color: rgb(var(--color-main));
  border-color: rgb(var(--color-main) / 10%);
}
.socials-icon {
  fill: currentColor;
}
