.about-title {
    display: block;
    text-align: center;
    margin: 0 auto 16px;

    color: rgb(var(--color-black));
}

.about-title .underline {
    position: relative;
    z-index: 1;
}

.about-title .underline::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 12px;

    background-color: rgb(var(--color-main-dark));
    border-radius: 8px;
    z-index: -1;
}

@media only screen and (min-width: 768px) {
    .about-title .underline::before {
        bottom: 0px;
        height: 20px;
    }
}

.about-subtitle {
    text-align: center;
    margin-bottom: 40px;

    color: rgb(var(--color-black) / 50%);
}

@media only screen and (min-width: 768px) {
    .about-subtitle {
        display: block;
        margin: 0 auto 64px;
        max-width: 665px;
    }
}

/** block **/


.about-list-images {
    display: flex;
    gap: 32px;
    margin: 0 auto;
}

.about-list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 662px;


}

@media only screen and (min-width: 768px) {
    .about-list {}
}


.about-item {
    display: flex;
    counter-increment: item;
    background-color: rgb(var(--color-gray));
    border-radius: var(--radius-card);


}

.about-item::before {
    content: counter(item, decimal-leading-zero);
    font-size: 32px;
    font-weight: 700;
    color: rgb(var(--color-main));
}

@media only screen and (min-width: 768px) {
    .about-item {}
}

@media only screen and (min-width: 1280px) {
    .about-item {}
}

.about-item.accent {
    background-color: rgb(var(--color-gray));
}

.about-images {
    display: flex;
    flex-grow: 1;

    flex-shrink: 0;
    border-radius: var(--radius-card);
    background-color: rgb(var(--color-main));
    background-size: cover;

}

.about-text {
    width: 272px;
    text-align: left;
}

@media only screen and (min-width: 1280px) {
    .about-text {
        width: 261px;
    }
}

@media only screen and (min-width: 375px) {
    .about-text {
        width: 271px;
    }
}