.about-title {
  display: block;
  text-align: center;
  margin: 0 auto 16px;

  color: rgb(var(--color-black));
}

.about-title .underline {
  position: relative;
  z-index: 1;
}

.about-title .underline::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 12px;

  background-color: rgb(var(--color-main-dark));
  border-radius: 8px;
  z-index: -1;
}

@media only screen and (min-width: 768px) {
  .about-title .underline::before {
    bottom: 0px;
    height: 20px;
  }
}

.about-subtitle {
  text-align: center;
  margin-bottom: 40px;

  color: rgb(var(--color-black) / 50%);
}

@media only screen and (min-width: 768px) {
  .about-subtitle {
    display: block;
    margin: 0 auto 64px;
    max-width: 665px;
  }
}

/** block **/

.about-list-images {
  display: flex;
  gap: 32px;
  margin: 0 auto;
  text-align: left;
}
@media only screen and (max-width: 768px) {
  .about-list-images {
    display: inline;
  }
}
@media only screen and (max-width: 1280px) {
  .about-list-images {
    display: inline;
  }
}
.about-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  list-style: none;
  padding: 0 0;
  margin: 0 0;
}

@media only screen and (max-width: 767px) {
  .about-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
}

@media only screen and (min-width: 768px) {
  .about-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}

.about-item {
  display: flex;
  counter-increment: item;
  background-color: rgb(var(--color-gray));
  border-radius: var(--radius-card);
  height: 160px;
  padding: 30px;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
}

.about-item::before {
  content: counter(item, decimal-leading-zero);
  font-size: 32px;
  font-weight: 700;
  color: rgb(var(--color-main));
}

.about-item.accent {
  background-color: rgb(var(--color-gray));
}
.about-images-card {
  width: 310px;
  height: 352px;
  background: rgb(var(--color-main));
  border-radius: var(--radius-card);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .about-images-card {
    width: 100%;
    height: 243px;
    margin: 32px auto 0 auto;
    box-sizing: border-box;
    max-width: 704px;
  }
}
@media only screen and (max-width: 1280px) {
  .about-images-card {
    width: 100%;
    height: 243px;
    margin: 32px auto 0 auto;
    box-sizing: border-box;
    max-width: 704px;
  }
}

.about-images {
  display: flex;
  flex-grow: 1;
  border-radius: var(--radius-card);
  background-color: rgb(var(--color-main));
  background-size: cover;
  flex-shrink: 0;
}
@media only screen and (max-width: 768px) {
  .about-images {
    width: auto;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
}

@media only screen and (max-width: 1280px) {
  .about-images {
    width: auto;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
}

@media only screen and (min-width: 768px) {
}
.about-item-title {
  text-align: left;
  padding-top: 16px;
  margin: 0;
}
