.header {
  padding: 20px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  flex-grow: 1;
}
.header-logo {
  display: inline-flex;
  max-width: 115px;
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: 0.02em;
  margin-right: 76px;
  justify-content: flex-start;
  align-items: center;
}

.header-logo-accent {
  color: rgb(var(--color-main));
}

.header-nav-list {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .header-nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    font-size: 14px;
  }
}

.header-nav-link {
  position: relative;
  display: block;
  transition: 200ms ease-in;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: rgb(var(--color-main));
}
.header-nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
}
.header-nav-link.active::after {
  background: rgb(var(--color-main));
}

.mobile-menu-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.mobile-menu-icon {
  width: 40px;
  height: auto;
}

@media only screen and (max-width: 375px) {
  .mobile-menu-icon {
    width: 32px;
    height: auto;
  }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .mobile-menu-icon {
    width: 40px;
    height: auto;
  }
}

@media only screen and (min-width: 1280px) {
  .mobile-menu-btn {
    display: none;
  }
}

.header-socials {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .header-socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
  }
}
