.hero {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .hero {
    margin-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    margin-top: 16px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

.hero-container {
  padding: 0 20px;
  min-width: 180px;
  max-width: 335px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: baseline;
  min-height: 630px;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  padding-bottom: 72px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url('../images/hero/hero-cover_mobile@1x.jpg');
}

@media (min-resolution: 192dpi) {
  .hero-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
      url('../images/hero/hero-cover_mobile@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding: 0 32px;
    max-width: 704px;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
      url('../images/hero/hero-cover_tablet@1x.jpg');
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
      url('../images/hero/hero-cover_tablet@2x.jpg');
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    padding: 0 64px;
    max-width: 1152px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
      url('../images/hero/hero-cover_desk@1x.jpg');
  }
}

@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .hero-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
      url('../images/hero/hero-cover_desk@2x.jpg');
  }
}

.hero-title {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.05;
  text-align: left;
  color: rgb(var(--color-white));
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 488px;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-title {
    max-width: 564px;
  }
}

.hero-accent {
  color: rgb(var(--color-main-dark));
}

.hero-btn {
  width: 100%;
  text-align: center;
  max-width: 295px;
}

@media only screen and (min-width: 768px) {
  .hero-btn {
    width: 306px;
  }
}

.scroll-icon-link {
  position: absolute;
  height: 38px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(var(--color-white));
  bottom: 14px;
  right: 14px;
}

@media only screen and (min-width: 768px) {
  .scroll-icon-link {
    height: 48px;
    width: 48px;
    bottom: 32px;
    right: 32px;
  }
}

.scroll-icon-link:hover,
.scroll-icon-link:focus {
  background-color: rgb(var(--color-main));
  border: none;
}

.scroll-icon-link:hover .scroll-icon,
.scroll-icon-link:focus .scroll-icon {
  fill: rgb(var(--color-white));
}

.scroll-icon {
  fill: rgb(var(--color-main));
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
