.hero-container {
    display: flex;
    gap: 40px;
    position: relative;
    flex-direction: column;
    align-items: baseline;
    height: 629px;
    justify-content: flex-end;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  padding-bottom: 72px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url('../images/hero/hero-cover_mobile@1x.jpg');
}

@media (min-resolution: 192dpi) {
    .hero-container {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
        url('../images/hero/hero-cover_mobile@2x.jpg');
    }
  }

  @media screen and (min-width: 768px) {
    .hero-container  {
        max-width: 704px;
        gap: 32px;
        justify-content: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
        url('../images/hero/hero-cover_tablet@1x.jpg');
}
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero-container  {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
        url('../images/hero/hero-cover_tablet@2x.jpg');
}
}

@media screen and (min-width: 1280px) {
    .hero-container  {
        max-width: 1152px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
        url('../images/hero/hero-cover_desk@1x.jpg');
}
}

@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
    .hero-container {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
        url('../images/hero/hero-cover_desk@2x.jpg');
    }
  }

  .hero-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgb(var(--color-white));
  }
  @media only screen and (min-width: 768px) {
    .hero-title {
      max-width: 488px;
      font-weight: 700;
      font-size: 60px; 
    }
  }

  @media only screen and (min-width: 1280px) {
    .hero-title {
      max-width: 564px;
    }
  }

.hero .btn-primary {
    text-align: center;;
}

.scroll-icon-link {
  position: absolute;
  height: 38px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(var(--color-white));
  bottom: 14px;
  right: 14px;
}

@media only screen and (min-width: 768px) {
    .scroll-icon-link {
        height: 48px;
        width: 48px;
        bottom: 32px;
        right: 32px;
    }
  }

.scroll-icon-link:hover,
.scroll-icon-link:focus {
  background-color: rgb(var(--color-main));
  fill: rgb(var(--color-white));
  border: none;
}

.scroll-icon {
    fill: rgb(var(--color-white));
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }