<section class="section about-section" id="about">
  <div class="container about-container">
    <h2 class="about-title font-h2">About<span class="underline">Us</span></h2>
    <p class="about-subtitle font-subtitle">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div class="about-list-images">
      <ol class="about-list">
        <li class="about-item">
          <h3 class="about-title font-h4">Expert, innovative teaching staff</h3>
        </li>
        <li class="about-item">
          <h3 class="about-title font-h4">
            Wide range of course levels and options
          </h3>
        </li>
        <li class="about-item">
          <h3 class="about-title font-h4">
            Multicultural learning environment
          </h3>
        </li>
        <li class="about-item">
          <h3 class="about-title font-h4">
            Comprehensive language support services
          </h3>
        </li>
      </ol>
      <div class="section-images">
        <img
          class="about-images"
          src="../images/about/memoji@1x.png"
          alt="Memoji"
        />
      </div>
    </div>
  </div>
</section>
