<footer id="footer" class="footer">
  <div class="container footer-container">
    <div class="footer-section">
      <div class="footer-logo">
        english<span class="footer-logo-accent">excellence</span>.
      </div>
      <address class="footer-address">
        <ul class="footer-address-list">
          <li class="footer-address-item">
            <p class="footer-address-title">Phone number:</p>
            <a
              class="footer-address-link font-nav-link"
              href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-address-item">
            <p class="footer-address-title">Address:</p>
            <a
              class="footer-address-link font-nav-link"
              target="_blank"
              href="https://maps.app.goo.gl/oBLrsk1jooD3mjig9"
              >32a M. Bazhana ave</a
            >
          </li>
        </ul>
      </address>
    </div>

    <div class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a class="footer-nav-link font-nav-link" href="#about">About us</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link font-nav-link" href="#lessons"
            >Our lessons</a
          >
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link font-nav-link" href="#teachers">Teachers</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link font-nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link font-nav-link" href="#form">Contact us</a>
        </li>
      </ul>
    </div>

    <ul class="socials footer-socials">
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Link to facebook.com"
        >
          <svg class="socials-icon" width="28" height="28">
            <use class="no-hover" href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Link to instagram.com"
        >
          <svg class="socials-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Link to youtube.com"
        >
          <svg class="socials-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="container copyright-container">
    <p>&#169;2023 English Excellence. All rights reserved.</p>
    <ul class="privacy-policy">
      <li class="privacy-policy-item">
        <a class="privacy-policy-link" href="#">Privacy Policy</a>
      </li>
      <li class="privacy-policy-item">
        <a class="privacy-policy-link" href="#">Terms of Service</a>
      </li>
    </ul>
  </div>
</footer>
