<section class="section">
  <div class="container">
    <h2 class="form-title font-h2">
      Leave an <span class="underline">application</span>
    </h2>
    <p class="subtitle font-subtitle">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>

    <div class="two-columns-wraper">

      <!-- Left part -->
      <ul class="form-card">
        <li class="form-card-mask">
        </li>
        <li class="form-card-item">
          <h3 class="card-title font-h2">1000</h3>
        </li>
        <li class="form-card-item">
        <p class= "font-body card-body">
          of our online English language lessons! This journey has been full of
          discovery, growth and unforgettable moments, and we are happy to share
          this joyful event with you.
        </p>
        </li>
      </ul>

      <!-- Right part -->
      <form class="form-wrapper" action="submit">
        <!-- Inputs -->
        <label for="person-name"></label>
        <input
          class="form-input"
          type="text"
          id="person-name"
          placeholder="Name"
        />

        <label for="person-email"></label>
        <input
          class="form-input"
          type="text"
          id="person-email"
          placeholder="Email"
        />

        <label for="person-phone"></label>
        <input
          class="form-input"
          type="text"
          id="person-phone"
          placeholder="Phone"
        />
        <textarea
          class="form-textarea"
          name="comment"
          id="customer-comment"
          placeholder="Comment"
        ></textarea>

        <!-- Radiobuttons -->
        <p class="form-subtitle font-h5">Choose a teacher</p>
        <label class="form-radio-label">
        <input class="form-radio" type="radio" name="teacher" id="maria" checked></input><span class="checkmark"></span>
          Maria </label>
        <label class="form-radio-label">
        <input class="form-radio" type="radio" name="teacher" id="artem"></input><span class="checkmark"></span>
          Artem </label>
        <label class="form-radio-label">
        <input class="form-radio" type="radio" name="teacher" id="ilona"></input><span class="checkmark"></span>
          Ilona </label>
      
        <label class="form-radio-label">
        <input class="form-radio" type="radio" name="teacher" id="volodymyr"></input><span class="checkmark"></span>
          Volodymyr </label>

        <!-- Form bottom -->
        <button class="btn-primary" type="submit">Send</button>
        <p class="form-caption">
          By clicking on “Send” button, you agree to our
          <a class="form-caption-link">Privacy Policy</a>, and allow Promodo to
          use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</section>
