<div class="menu-backdrop js-menu-container">
  <div id="mobileMenu" class="mob-menu">
    <button class="close-btn js-close-menu" aria-label="Close mobile menu">
      <svg width="32" height="32">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="menu">
      <li class="menu-item">
        <a href="#hero" class="mobile-menu-link">Home</a>
      </li>
      <li class="menu-item">
        <a href="#about" class="mobile-menu-link">About</a>
      </li>
      <li class="menu-item">
        <a href="#lessons" class="mobile-menu-link">Lessons</a>
      </li>
      <li class="menu-item">
        <a href="#teachers" class="mobile-menu-link">Teachers</a>
      </li>
      <li class="menu-item">
        <a href="#reviews" class="mobile-menu-link">Reviews</a>
      </li>
      <li class="menu-item">
        <a href="#form" class="mobile-menu-link">Contact</a>
      </li>
    </ul>

    <ul class="social-links">
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://facebook.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Link to facebook.com"
        >
          <svg class="socials-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://instagram.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Link to instagram.com"
        >
          <svg class="socials-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://twitter.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Link to twitter.com"
        >
          <svg class="socials-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
