<div class="menu-backdrop js-menu-container">
  <div id="mobileMenu" class="mob-menu">
    <button class="close-btn js-close-menu" aria-label="Close mobile menu">
      <svg class="menu-close-icon" width="32" height="32">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="menu-container-list">
      <li class="menu-container-item">
        <a href="#about" class="menu-container-link">About us</a>
      </li>
      <li class="menu-container-item">
        <a href="#lessons" class="menu-container-link">Our lessons</a>
      </li>
      <li class="menu-container-item">
        <a href="#teachers" class="menu-container-link">Teachers</a>
      </li>
      <li class="menu-container-item">
        <a href="#reviews" class="menu-container-link">Reviews</a>
      </li>
      <li class="menu-container-item">
        <a href="#form" class="menu-container-link">Contact us</a>
      </li>
    </ul>

    <ul class="social-container-list">
      <li class="social-container-item">
        <a
          class="social-container-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Link to Facebook"
        >
          <svg class="social-container-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-container-item">
        <a
          class="social-container-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Link to Instagram"
        >
          <svg class="social-container-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-container-item">
        <a
          class="socials-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Link to Youtube"
        >
          <svg class="social-container-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
