<section class="section" id="reviews">
  <div class="container">
    <h2 class="reviews-title font-h2">
      What our <span class="underline">students</span> say
    </h2>
    <p class="reviews-subtitle font-subtitle">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>
    <ul class="reviews-list">
      <li class="reviews-item">
        <div class="reviews-person">
          <img
            class="reviews-person-image"
            srcset="
              ../images/reviews/student-anna@1x.jpg 1x,
              ../images/reviews/student-anna@2x.jpg 2x
            "
            src="../images/reviews/student-anna@1x.jpg"
            alt="Photo of Anna"
            width="50"
            height="50"
          />
          <div class="reviews-person-info">
            <h4 class="reviews-person-name font-h4">Anna</h4>
            <p class="reviews-person-label font-caption">Student</p>
          </div>
        </div>
        <p class="reviews-text font-body">
          My experience at the language school has been nothing short of
          amazing. The teachers are dedicated and the learning environment is
          stimulating. I feel more confident in my English skills.
        </p>
      </li>
      <li class="reviews-item">
        <div class="reviews-person">
          <img
            class="reviews-person-image"
            srcset="
              ../images/reviews/student-mykhailo@1x.jpg 1x,
              ../images/reviews/student-mykhailo@2x.jpg 2x
            "
            src="../images/reviews/student-mykhailo@1x.jpg"
            alt="Photo of Mykhailo"
            width="50"
            height="50"
          />
          <div class="reviews-person-info">
            <h4 class="reviews-person-name font-h4">Mykhailo</h4>
            <p class="reviews-person-label font-caption">Student</p>
          </div>
        </div>
        <p class="reviews-text font-body">
          The school offers a great balance of language theory and practical
          exercises. The personalized feedback from the teachers has helped me
          improve my weak areas.
        </p>
      </li>
      <li class="reviews-item">
        <div class="reviews-person">
          <img
            class="reviews-person-image"
            srcset="
              ../images/reviews/student-victoria@1x.jpg 1x,
              ../images/reviews/student-victoria@2x.jpg 2x
            "
            src="../images/reviews/student-victoria@1x.jpg"
            alt="Photo of Victoria"
            width="50"
            height="50"
          />
          <div class="reviews-person-info">
            <h4 class="reviews-person-name font-h4">Victoria</h4>
            <p class="reviews-person-label font-caption">Student</p>
          </div>
        </div>
        <p class="reviews-text font-body">
          I love the dynamic and interactive teaching methods used here. It's a
          great place to learn English in a fun and effective way. I have
          definitely seen a big improvement in my language skills.
        </p>
      </li>
    </ul>
  </div>
</section>
